body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: light-color;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

p {
  line-height: 1.5;
  margin: 0.8em 0;
}

a {
  transition: all 0.5s ease;
}

a:link,
a:visited {
  color: action-color;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: darken(action-color, 20%);
  text-decoration: underline;
}

label {
  font-size: 0.9em;
}

input,
textarea {
  backround: #FFF;
  border: solid 1px darken(light-color, 20%);
  border-radius: 3px;
  font-size: 1em;
  outline: none;
  padding: 0.4em 0.6em;

  &:focus {
    border-color: action-color;
  }
}

input {
  display: inline-block;
}

button,
.button {
  background: none;
  border: solid 1px darken(light-color, 20%);
  border-radius: 3px;
  color: action-color;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover,
  &:focus {
    background-color: darken(light-color, 10%);
    color: darken(action-color, 20%);
  }
}
