.full-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.icon.with-text {
  svg:first-child {
    margin-right: 0.4em;
  }

  svg:last-child {
    margin-left: 0.4em;
  }
}
