.paginator {
  display: flex;
  justify-content: space-between;
  margin: 0.6em;

  & .paginator-button {
    align-items: center;
    border: solid 1px color-mix(in srgb, var(--light-color), black 20%);
    display: flex;
    font-size: 0.9em;
    min-width: 5em;
    padding: 0.4em 0.6em;
    text-decoration: none;

    &:hover,
    &:focus {
      background: color-mix(in srgb, var(--light-color), black 10%);
    }

    &:first-child {
      border-radius: 10px 3px 3px 10px;
    }

    &:last-child {
      border-radius: 3px 10px 10px 3px;
    }

    &.disabled {
      visibility: hidden;
    }
  }

  & > span {
    display: block;
    font-size: 0.9em;
    min-width: 5em;
    padding: 0.4em 0.6em;
  }

  & .search {
    display: flex;

    & input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }
  }

  & .bookmark.is-bookmarked {
    background: var(--action-color);
    border-color: var(--action-color);
    color: var(--light-color);

    &:hover,
    &:focus {
      background: color-mix(in srgb, var(--action-color), black 20%);
    }
  }
}
