<div class="sub clearfix">
  <img class="pull-left" {{bind-attr src="thumb"}} width="70" height="70" />
  <a href="#" class="add-sub pull-right btn btn-success btn-sm" title="Add" {{action 'add' this}}>
    <i class="icon-plus"></i>
  </a>
  <h3>{{author}}</h3>
</div>
