<li {{action 'previousPage'}} {{bind-attr class="hasPrevious::disabled"}}>
  <i class="icon-angle-left"></i> Newer
</li>

<li {{action 'nextPage'}} {{bind-attr class="hasNext::disabled"}}>
  Older <i class="icon-angle-right"></i>
</li>
