<div class="now-playing">
  {{youtube-player video=this
                   autoplay=autoplay
                   onTimeUpdate="updateNowPlayingTime"
                   onPrevious="playPrevious"
                   onNext="playNext"
                   onClose="closeVideo"}}
</div>
