<div class="videos-region">

  {{item-paginator prevToken=prevPageToken nextToken=nextPageToken onSelect="didSelectPage"}}

  <div class="videos">
    {{#each}}
      {{partial 'video'}}
    {{/each}}
  </div>

  {{item-paginator prevToken=prevPageToken nextToken=nextPageToken onSelect="didSelectPage"}}

</div>
