<div class="videos-region">

  {{item-paginator currentPage=currentPage totalPages=totalPages onPageSelect="didSelectPage"}}

  <div class="videos">
    {{#each}}
      {{partial 'video'}}
    {{/each}}
  </div>

</div>
