.bundle
*.log
tmp
doc/
*.swp
*~
.project
.DS_Store
*.sublime-*
.sass-cache
_build
_dev
node_modules
dist
dist-prod

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Coverage
/.nyc_output/
/coverage/
