.playlist-picker {
  display: flex;
  margin-top: 0.2em;

  > span {
    font-size: 0.9em;
    padding: 0.4em 0.6em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      button {
        background: none;
        border: none;
        outline: none;
        display: flex;

        i {
          flex-shrink: 0;
          margin-right: 0.6em;
          text-align: center;
          width: 0.8em;
        }

        span {
          flex-grow: 2;
        }
      }
    }
  }
}
