.playlist-picker {
  position: relative;

  button {
    outline: none;
  }

  > button {
    background: light-color;
    margin-top: 0.4em;
    position: relative;
    z-index: 11;
  }

  ul {
    background: light-color;
    border: solid 1px darken(light-color, 20%);
    border-radius: 0 3px 3px 3px;
    display: none;
    left: 0;
    margin-top: -2px;
    min-width: 100%;
    padding: 0.2em;
    position: absolute
    top: 100%;
    z-index: 10;

    li {
      button {
        background: none;
        border: none;
        display: flex;

        i {
          flex-shrink: 0;
          margin-right: 0.6em;
          text-align: center;
          width: 0.8em;
        }

        span {
          flex-grow: 2;
        }
      }
    }
  }

  &.picking {
    padding-bottom: 1px;

    button {
      border-bottom: none;
      border-radius: 3px 3px 0 0;
    }

    ul {
      display: block;
    }
  }
}
