@import "reset";
@import "compass";
@import "compass/css3";
@import "compass/layout";

$action-color: #1F5BAB;
$warning-color: #AC1F1F;
$go-color: #73AB1F;

// Utility

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

.btn {
  display: block;
  padding: 3px 6px;
}

a.btn {
  text-decoration: none;
}

// Main

body {
  background: #f8f8f8 image-url("body-bg.png") -40px 0 repeat-y;
  min-width: 820px;
}

.now-playing {
  background: #000;
  @include background(linear-gradient(top, #222, #000));
  padding: 20px 0;
  position: relative;
}

  .now-playing-video {
    margin: 0 auto;
    width: 960px;
  }

  $player-bar-size: 36px;
  $player-background: rgba(0, 0, 0, 0.9);
  $player-border-color: #434343;

  .youtube-player {
    margin-top: $player-bar-size;
  }

  .youtube-player-bar {
    background: $player-background;
    height: $player-bar-size;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    li {
      float: left;
      position: relative;

      span {
        background: rgba(0, 0, 0, 0.7);
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: $player-bar-size;
        height: $player-bar-size;

        &.disabled {
          display: block;
        }
      }
    }

    h3 {
      border-left: solid 1px $player-border-color;
      color: #f8f8f8;
      font-size: .7em;
      float: left;
      height: $player-bar-size;
      line-height: $player-bar-size;
      padding: 0 15px;
      margin: 0 0 0 10px;
    }

    a.control {
      color: #c7c7c7;
      text-align: center;
      text-decoration: none;

      &,
      i {
        display: block;
        width: $player-bar-size;
        height: $player-bar-size;
        line-height: $player-bar-size;
      }

      &:hover,
      &:focus {
        color: #f8f8f8;
      }
    }
  }

    .youtube-toggle-info {
      border-right: solid 1px $player-border-color;
      margin-right: 10px;
      padding: 0 10px;

      i {
        font-size: 1.3em;
      }
    }

    .youtube-player-bar a.close-youtube-player {
      font-size: 1.5em;
      position: absolute;
      top: 0;
      right: 0;
    }

    .youtube-player-info {
      background: $player-background;
      border-top: solid 1px $player-border-color;
      color: #f8f8f8;
      display: none;
      font-size: .9em;
      overflow-y: auto;
      padding: 5px 10px;
      position: absolute;
      top: $player-bar-size;
      left: 0;
      right: 0;

      a {
        color: lighten($action-color, 40%);
      }
    }

.main {
  position: relative;
}

$sidebar-width: 250px;

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;

  h2 {
    color: #d3d3d3;
    float: left;
    font-size: 1.1em;
  }
}

  .subs-header,
  .sub-search-header {
    padding: 5px 10px;
  }

    a.edit-subs,
    a.search-subs {
      color: #c7c7c7;
      float: right;
      margin-top: 10px;

      &:hover,
      &:focus {
        color: #b4b4b4;
      }
    }

    .no-subs {
      color: #c7c7c7;
      border: dashed 1px #c7c7c7;
      margin: 0 10px;
      padding: 15px 10px;
      text-align: center;
    }

  $sub-height: 70px;

  .sub {
    background: #e3e3e3;
    border-top: solid 1px #c7c7c7;
    font-size: .9em;
    height: $sub-height;
    position: relative;

    &:first-of-type {
      border-top: none;
    }

    img {
      float: left;
    }

    h3 {
      font-size: 1.1em;
      margin: 10px 40px 0 80px;
    }
  }

    a.view-sub,
    a.delete-sub,
    a.add-sub {
      display: block;
      position: absolute;
      text-align: center;
      text-decoration: none;

      i {
        display: block;
      }
    }

    a.view-sub {
      background: #e3e3e3;
      border-left: solid 1px #d3d3d3;
      color: #797979;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;

      &:hover,
      &:focus,
      &.active {
        background: #f8f8f8;
      }

      .editing & {
        display: none;
      }

      i {
        width: 30px;
        height: $sub-height;
        line-height: $sub-height;
      }
    }

    a.delete-sub,
    a.add-sub {
      font-size: 1.5em;
      top: 15px;
      right: 5px;
      bottom: 15px;
    }

    a.delete-sub {
      color: $warning-color;
      display: none;

      &:hover,
      &:focus {
        color: darken($warning-color, 10%);
      }

      .editing & {
        display: block;
      }

      i {
        height: $sub-height - 30px;
        line-height: $sub-height - 30px;
      }
    }

    a.add-sub {
      color: $go-color;

      &:hover,
      &:focus {
        color: darken($go-color, 10%);
      }

      i {
        height: $sub-height - 30px;
        line-height: $sub-height - 30px;
      }
    }

    a.make-sub-default {
      display: none;
      position: absolute;
      top: 5px;
      right: 35px;
      text-decoration: none;

      .sub:hover &,
      .default & {
        display: inline;
      }
    }


    a.toggle-playlists {
      color: #797979;
      display: block;
      height: 20px;
      line-height: 20px;
      padding: 5px 10px;
      position: absolute;
      left: 70px;
      bottom: 0;
      right: 30px;
      text-decoration: none;

      &:hover,
      &:focus {
        background: #d3d3d3;
        color: $action-color;
      }

      .editing & {
        display: none;
      }
    }

  .sub-search-region {
    margin: 10px 0;

    a {
      margin-bottom: 10px;
    }

    form {
      padding: 0 10px;

      input {
        background: #121212;
        border: solid 1px #121212;
        border-radius: 3px;
        box-sizing: border-box;
        color: #f8f8f8;
        display: block;
        font-size: 1em;
        height: 30px;
        outline: none;
        padding: 5px 10px;
        float: left;
        width: 200px;

        &:hover {
          border-color: lighten($action-color, 10%);
        }

        &:focus {
          border-color: $action-color;
        }
      }

      button {
        background: $action-color;
        border: none;
        border-radius: 3px;
        color: #f8f8f8;
        cursor: pointer;
        display: block;
        float: right;
        font-size: 1.1em;
        height: 30px;
        outline: none;
        padding: 5px 10px;
        width: 60px;

        &:hover,
        &:focus,
        &:active {
          background: lighten($action-color, 10%);
        }
      }
    }
  }

    .sub-search-results {
      padding-top: 10px;

      .sub {
        background: #121212;
        border-color: #212121;
        height: $sub-height;

        h3 {
          color: #f8f8f8;
        }
      }
    }

    .playlists {
      clear: both;
    }

      .playlist {
        border-top: solid 1px #d3d3d3;
        padding: 5px 0;

        h3 {
          color: #545454;
          font-size: 1em;
          line-height: 1.4;
          margin: 0 0 0 90px;
        }

        a {
          margin-left: 5px;

          i {
            margin-left: 3px;
          }
        }
      }

.content {
  margin-left: $sidebar-width;
}

  .paginator {
    @extend .clearfix;
    margin: 10px;
    text-align: center;

    &.no-paging {
      display: none;
    }

    $border: solid 1px #d3d3d3;

    li {
      border: $border;
      cursor: pointer;
      display: inline-block;
      padding: 4px 8px;
      min-width: 20px;
      text-align: center;

      &:first-of-type {
        border-left: $border;
        border-radius: 3px 0 0 3px;
      }

      &:last-of-type {
        border-radius: 0 3px 3px 0;
      }

      &.current {
        background: #e3e3e3;
        cursor: default;
      }

      &.disabled {
        cursor: default;
        opacity: 0.2;
      }

      &.ellipsis {
        border: none;
        color: #929292;
        cursor: default;
        padding: 5px;
      }
    }
  }

  .video {
    border-top: solid 1px #d3d3d3;
    padding: 10px;

    &.watched {
      background: #e3e3e3;
      opacity: 0.4;
    }

    &:first-of-type {
      border-top: none;
    }

    .video-info {
      margin-left: 165px;
    }

    h4 {
      font-size: 1.1em;
      margin-top: 0;
    }

    .pub-date {
      float: right;
      margin: 8px 0;
      text-align: right;

      span {
        color: #a4a4a4;
        font-size: .8em;
      }
    }

    .duration {
      background: #212121;
      border-radius: 3px;
      color: #f8f8f8;
      float: left;
      margin-right: 15px;
      padding: 5px;

      i {
        font-size: 1.3em;
      }
    }

    a.toggle-watched {
      float: left;
      margin: 15px 0;
      text-decoration: none;
    }
  }

    a.play-video {
      color: #FFF;
      display: block;
      float: left;
      position: relative;
      text-decoration: none;

      img {
        display: block;
      }

      i {
        background: rgba(0,0,0,0);
        display: block;
        font-size: 4em;
        @include opacity(0.7);
        position: absolute;
        top: 0;
        text-align: center;
        @include transition(all .25s ease-in-out);
        width: 150px;
        height: 112px;
        line-height: 112px;
      }

      &:hover i,
      &:focus i {
        background: rgba(0,0,0,0.5);
        @include opacity(1);
      }
    }

@import "lib/font-awesome/font-awesome";
