$sidebar-width: 250px;
$sub-height: 70px;

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;

  h2 {
    color: #d3d3d3;
    float: left;
    font-size: 1.1em;
  }
}

.subs-header,
.sub-search-header {
  padding: 5px 10px;
}

  a.edit-subs,
  a.search-subs {
    color: #c7c7c7;
    float: right;
    margin-top: 10px;

    &:hover,
    &:focus {
      color: #b4b4b4;
    }
  }

  .no-subs {
    color: #c7c7c7;
    border: dashed 1px #c7c7c7;
    margin: 0 10px;
    padding: 15px 10px;
    text-align: center;
  }

.sub {
  background: #e3e3e3;
  border-top: solid 1px #c7c7c7;
  font-size: .9em;
  height: $sub-height;
  position: relative;

  &:first-of-type {
    border-top: none;
  }

  img {
    float: left;
  }

  h3 {
    font-size: 1.1em;
    margin: 10px 40px 0 80px;
  }
}

a.view-sub,
a.delete-sub,
a.add-sub {
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;

  i {
    display: block;
  }
}

a.view-sub {
  background: #e3e3e3;
  border-left: solid 1px #d3d3d3;
  color: #797979;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;

  &:hover,
  &:focus,
  &.active {
    background: #f8f8f8;
  }

  .editing & {
    display: none;
  }

  i {
    width: 30px;
    height: $sub-height;
    line-height: $sub-height;
  }
}

a.delete-sub,
a.add-sub {
  font-size: 1.5em;
  top: 15px;
  right: 5px;
  bottom: 15px;
}

a.delete-sub {
  color: $warning-color;
  display: none;

  &:hover,
  &:focus {
    color: darken($warning-color, 10%);
  }

  .editing & {
    display: block;
  }

  i {
    height: $sub-height - 30px;
    line-height: $sub-height - 30px;
  }
}

a.add-sub {
  color: $go-color;

  &:hover,
  &:focus {
    color: darken($go-color, 10%);
  }

  i {
    height: $sub-height - 30px;
    line-height: $sub-height - 30px;
  }
}

a.make-sub-default {
  display: none;
  position: absolute;
  top: 5px;
  right: 35px;
  text-decoration: none;

  .sub:hover &,
  .default & {
    display: inline;
  }
}


a.toggle-playlists {
  color: #797979;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  position: absolute;
  left: 70px;
  bottom: 0;
  right: 30px;
  text-decoration: none;

  &:hover,
  &:focus {
    background: #d3d3d3;
    color: $action-color;
  }

  .editing & {
    display: none;
  }
}

.sub-search-region {
  margin: 10px 0;

  a {
    margin-bottom: 10px;
  }

  form {
    padding: 0 10px;

    input {
      background: #121212;
      border: solid 1px #121212;
      border-radius: 3px;
      box-sizing: border-box;
      color: #f8f8f8;
      display: block;
      font-size: 1em;
      height: 30px;
      outline: none;
      padding: 5px 10px;
      float: left;
      width: $sidebar-width - 90;

      &:hover {
        border-color: lighten($action-color, 10%);
      }

      &:focus {
        border-color: $action-color;
      }
    }

    button {
      background: $action-color;
      border: none;
      border-radius: 3px;
      color: #f8f8f8;
      cursor: pointer;
      display: block;
      float: right;
      font-size: 1.1em;
      height: 30px;
      outline: none;
      padding: 5px 10px;
      width: 60px;

      &:hover,
      &:focus,
      &:active {
        background: lighten($action-color, 10%);
      }
    }
  }
}

.sub-search-results {
  padding-top: 10px;

  .sub {
    background: #121212;
    border-color: #212121;
    height: $sub-height;

    h3 {
      color: #f8f8f8;
    }
  }
}

.playlists {
  clear: both;
}

.playlist {
  border-top: solid 1px #d3d3d3;
  padding: 5px 0;

  h3 {
    color: #545454;
    font-size: 1em;
    line-height: 1.4;
    margin: 0 0 0 90px;
  }

  a {
    margin-left: 5px;

    i {
      margin-left: 3px;
    }
  }
}

.content {
  margin-left: $sidebar-width;
}
