remove-width = 28px;

.sub-item {
  display: flex;
  margin-bottom: 0.4em;
  position relative;

  > span {
    display: flex;
    flex-grow: 2;
    position: relative;
  }

  .sub-title {
    background: darken(light-color, 10%);
    color: dark-color;
    flex-grow: 2;
    height: square-thumb-height;
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
      background: darken(light-color, 30%);
    }

    &.active {
      background: darken(warning-color, 20%);
      color: light-color;

      .num-videos {
        color: #c7c7c7;
      }
    }
  }

  .sub-bookmark {
    background: none;
    border-bottom-left-radius: 3px;
    padding: 0.3em 0.4em;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:focus {
      background: darken(light-color, 30%);
    }

    &.active {
      color: light-color;

      &:hover,
      &:focus {
        background: darken(warning-color, 40%);
      }
    }
  }

  h3 {
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.6em;
  }

  .editing & .custom-sub-item {
    a,
    .sub-item-icon {
      display: none;
    }
  }

  .editing & .channel-sub-item,
  .editing & .playlist-sub-item {
    a,
    .sub-item-icon:not(.editable) {
      display: none;
    }
  }

  input {
    border-radius: 0;
    box-sizing: border-box;
    width: sidebar-width - thumb-width - remove-width;
  }

  input {
    display: none;

    .editing & {
      display: block;
    }
  }

  .sub-item-icon.editable {
    display: none;

    .editing & {
      display: block;
    }
  }

  .sub-item-icon.editable {
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
  }

  .sub-item-icon,
  img {
    flex-shrink: 0;
  }

  img {
    width: thumb-width;
  }

  .sub-item-icon {
    background: dark-color;
    align-items: center;
    cursor: grab;
    display: flex;
    flex-grow: 0;
    height: square-thumb-height;
    position: relative;
    width: thumb-width;

    // <img /> messes up drag-n-drop sorting, so need to cover it
    &:after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .sub-item-icon.editable {
    cursor: pointer;
  }

  .num-videos {
    color: neutral-color;
    display: none;
    margin: 0;
    padding: 0 0.6em;
  }

  .custom-sub-item .num-videos {
    display: block;
  }

  .remove {
    align-items: center;
    background: darken(light-color, 10%);
    border-radius: 0;
    border: none;
    color: warning-color;
    display: none;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: remove-width;

    &:hover,
    &:focus {
      background: light-color;
      color: darken(warning-color, 20%);
    }

    .editing & {
      display: flex;
    }

    i {
      font-size: 1.4em;
    }
  }
}
