.sub-item {
  display: flex;
  margin-bottom: 0.4em;

  a {
    background: darken(light-color, 10%);
    color: dark-color;
    text-decoration: none;
    width: sidebar-width - (thumb-size / 2);

    &:hover,
    &:focus,
    &.active {
      background: darken(light-color, 20%);
    }
  }

  h3 {
    font-size: 1.1em;
    font-weight: 400;
    height: thumb-size;
    padding: 0.6em;
  }

  .icon-thumb,
  img {
    flex-shrink: 0;
    margin-left: -(thumb-size / 2);
  }

  img {
    background: light-color;
    border-radius: 50%;
    height: thumb-size;
    width: thumb-size;
  }

  .remove {
    align-items: center;
    background: darken(light-color, 10%);
    border: none;
    border-right: solid 1px darken(light-color, 20%);
    color: warning-color;
    display: none;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 0.4em;
    text-decoration: none;

    &:hover,
    &:focus {
      background: light-color;
      color: darken(warning-color, 20%);
    }

    .editing & {
      display: flex;
    }

    i {
      font-size: 1.4em;
    }
  }
}
