sidebar-width = 250px;

.subs {
  aside {
    background: dark-color;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: sidebar-width;

    header {
      display: flex;
      justify-content: flex-end;
      padding: 0.6em 0.8em;
    }
  }

  main {
    margin-left: sidebar-width;
  }
}

.no-subs {
  color: #c7c7c7;
  border: dashed 1px #c7c7c7;
  margin: 0 10px;
  padding: 15px 10px;
  text-align: center;
}

.sub {
  background: #e3e3e3;
  border-top: solid 1px #c7c7c7;
  display: flex;

  &:first-of-type {
    border-top: none;
  }

  img {
    border-radius: 50%;
    flex-shrink: 0;
    height: 70px;
    width: 70px;
  }

  h3 {
    flex-grow: 2;
    font-size: 1.1em;
    padding: 0.6em;
  }
}

.view-sub,
.remove-sub {
  align-items: center;
  border-left: solid 1px #d3d3d3;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 2em;
}

a.view-sub {
  background: #e3e3e3;
  color: #797979;

  &:hover,
  &:focus,
  &.active {
    background: #f8f8f8;
  }

  .editing & {
    display: none;
  }
}

.remove-sub {
  color: warning-color;
  display: none;

  &:hover,
  &:focus {
    color: darken(warning-color, 20%);
  }

  .editing & {
    display: block;
  }

  i {
    font-size: 1.2em;
  }
}

.make-sub-default {
  display: none;
  position: absolute;
  top: 5px;
  right: 35px;
  text-decoration: none;

  .sub:hover &,
  .default & {
    display: inline;
  }
}
