sidebar-width = 250px;

.subs {
  display: flex;
  overflow-y: hidden;
  height: 100%;

  > aside {
    background: darken(light-color, 40%);
    box-shadow: inset -0.5em 0 4em rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    overflow-y: scroll;
    width: sidebar-width;

    > header {
      display: flex;
      justify-content: flex-end;
      padding: 0.6em 0.8em;
    }
  }

  > main {
    flex-grow: 2;
    min-width: 30em;
    overflow-y: scroll;
  }

  .loader {
    color: primary-color;
    padding: 4em 0;
    text-align: center;

    i {
      font-size: 2em;
      margin: 0 0.2em;
    }
  }
}

.no-subs {
  color: #c7c7c7;
  border: dashed 1px #c7c7c7;
  margin: 0 10px;
  padding: 15px 10px;
  text-align: center;
}

.sub {
  background: #e3e3e3;
  margin-bottom: 0.4em;
  margin-left: (thumb-size / 2) + 4px;
  display: flex;

  .icon-thumb,
  img {
    flex-shrink: 0;
    margin-left: -(thumb-size / 2);
  }

  img {
    background: light-color;
    border-radius: 50%;
    height: thumb-size;
    width: thumb-size;
  }

  h3 {
    flex-grow: 2;
    font-size: 1.1em;
    padding: 0.6em;
  }
}

.view-sub,
.remove-sub {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 2em;
}

a.view-sub,
.remove-sub {
  background: #e3e3e3;
  color: #797979;

  &:hover,
  &:focus,
  &.active {
    background: #f8f8f8;
  }

  .editing & {
    display: none;
  }
}

.remove-sub {
  color: warning-color;
  display: none;

  &:hover,
  &:focus {
    color: darken(warning-color, 20%);
  }

  .editing & {
    display: block;
  }

  i {
    font-size: 1.2em;
  }
}

.make-sub-default {
  display: none;
  position: absolute;
  top: 5px;
  right: 35px;
  text-decoration: none;

  .sub:hover &,
  .default & {
    display: inline;
  }
}
