.subs {
  display: flex;
  overflow-y: scroll;

  & .subs-list {
    flex-shrink: 0;
    overflow-y: scroll;
    padding-right: 5px;
    width: calc(var(--sidebar-width) + 5px);

    & > header {
      display: flex;
      flex-direction: row-reverse;
      padding: 0.6em 0;
    }
  }

  & .empty-message {
    color: var(--neutral-color);
    text-align: center;
    padding: 0.4em 0;
  }

  & .all-subs {
    display: none;

    & .thumb {
      background: #333;
      display: flex;
      flex-wrap: wrap;
      width: var(--thumb-width);
    }

    & img {
      height: calc(var(--thumb-width) / 2);
      width: calc(var(--thumb-width) / 2);
    }
  }

  .has-subs .all-subs {
    display: block;
  }

  & .videos,
  & .videos-empty {
    flex-grow: 2;
    min-width: 30em;
    overflow-y: scroll;
  }

  & .loader {
    color: var(--primary-color);
  }

  & .subs-empty,
  & .videos-empty {
    color: var(--neutral-color);
    text-align: center;

    & .icon svg {
      margin: 0 0.5em;
    }
  }

  & .videos-empty {
    font-size: 1.2em;
    padding-top: 3em;
  }
}
