.login {
  @extends .full-screen;
  background: darken(light-color, 20%);
  align-items: center;
  display: flex;
  justify-content: center;

  form {
    min-width: 24em;
  }

  h2 {
    background: primary-color;
    color: light-color;
    padding: 0.8em 1.2em;
  }

  input {
    background: light-color;
    border-radius: 0;
    display: block;
    padding: 0.8em 1.2em;
    width: 100%;

    &:focus {
      outline: solid 0.2em action-color;
    }
  }
}
