.login {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: color-mix(in srgb, var(--light-color), black 20%);
  align-items: center;
  display: flex;
  justify-content: center;

  & form {
    min-width: 24em;
  }

  & h2 {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 0.8em 1.2em;
  }

  & p {
    background: var(--light-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0.8em 1.2em;
  }

  & fieldset {
    background: var(--light-color);
    padding: 0.8em 1.2em;
  }

  & label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  & input {
    background: var(--light-color);
    border-radius: 0;
    display: block;
    padding: 0.4em 0.6em;
    width: 100%;

    &:focus {
      outline: solid 0.2em var(--action-color);
    }
  }

  & .controls {
    display: flex;
    justify-content: flex-end;

    & button {
      background: var(--action-color);
      border: none;
      color: var(--light-color);
      font-size: 1em;
      padding: 0.6em 0.8em;

      &:hover,
      &:focus {
        background: color-mix(in srgb, var(--action-color), black 20%);
      }
    }
  }
}
