$player-bar-size: 36px;
$player-background: rgba(0, 0, 0, 0.9);
$player-border-color: #434343;

.now-playing {
  background: #000;
  background: linear-gradient(to bottom, #222 0%,#000 100%);
  padding: 20px 0;
  position: relative;
}

.now-playing-video {
  margin: 0 auto;
  width: 960px;
}

.youtube-player {
  margin-top: $player-bar-size;
}

.youtube-player-bar {
  background: $player-background;
  height: $player-bar-size;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  li {
    float: left;
    position: relative;

    span {
      background: rgba(0, 0, 0, 0.7);
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: $player-bar-size;
      height: $player-bar-size;

      &.disabled {
        display: block;
      }
    }
  }

  h3 {
    border-left: solid 1px $player-border-color;
    color: #f8f8f8;
    font-size: .7em;
    float: left;
    height: $player-bar-size;
    line-height: $player-bar-size;
    padding: 0 15px;
    margin: 0;
  }

  a.control {
    color: #c7c7c7;
    text-align: center;
    text-decoration: none;

    &,
    i {
      display: block;
      width: $player-bar-size;
      height: $player-bar-size;
      line-height: $player-bar-size;
    }

    &:hover,
    &:focus {
      color: #f8f8f8;
    }
  }
}

.youtube-toggle-info {
  padding: 0 10px;

  i {
    font-size: 1.3em;
  }
}

.youtube-player-bar a.close-youtube-player {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.youtube-player-info {
  background: $player-background;
  border-top: solid 1px $player-border-color;
  color: #f8f8f8;
  display: none;
  font-size: .9em;
  overflow-y: auto;
  padding: 5px 10px;
  position: absolute;
  top: $player-bar-size;
  left: 0;
  right: 0;

  a {
    color: lighten($action-color, 40%);
  }
}

