.app-container,
.app {
  display: flex;
  flex-direction: column;
}

.is-resizing {
  cursor: row-resize;
  user-select: none; // disable text selection
   -webkit-overflow-scrolling: touch; // disable elastic scrolling
}

.resizer {
  cursor: row-resize;
  left: 0;
  height: 10px;
  position: absolute;
  right: 0;
}

.has-touch .resizer {
  height: 20px;
}

.is-sorting {
  cursor: grabbing;
  user-select: none;
}
