.app-container,
.app {
  display: flex;
  flex-direction: column;
}

.is-resizing {
  cursor: row-resize;
}

.resizer {
  opacity: 0.5;
  cursor: row-resize;
  left: 0;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  right: 0;
}

.is-sorting {
  cursor: grabbing;
}
