<div class="sub clearfix">
  <img class="pull-left" {{bindAttr src="thumb"}} width="50" height="50" />
  <a class="add-sub pull-right btn btn-success btn-sm" href="#" {{action 'add' this}}><i class="icon-plus"></i></a>
  <h4>{{title}}</h4>
  <p>{{author}}</p>
</div>
