<div class="sub clearfix">
  <img class="pull-left" {{bindAttr src="thumb"}} width="50" height="50" />
  <a class="add-sub pull-right btn btn-success btn-small" href="#">
    <i class="icon-plus"></i>
    Add
  </a>
  <h4>{{title}}</h4>
  <p>{{author}}</p>
</div>
