<img class="pull-left" {{bindAttr src="thumb"}} width="50" height="50" />
<p class="buttons pull-right">
  <a class="view-sub btn btn-inverse btn-sm" href="#">
    View
    <i class="icon-chevron-right"></i>
  </a>
  <a class="toggle-playlists" href="#">
    Playlists
    <i class="icon-chevron-down"></i>
  </a>
</p>
<a class="delete-sub pull-right btn btn-danger btn-sm" href="#">
  <i class="icon-minus-sign"></i>
  Delete
</a>
<h4>{{title}}</h4>
<p>{{author}}</p>
