<div class="now-playing">
  {{youtube-player videoId=id autoplay=autoplay time=time onTimeUpdate="updateNowPlayingTime"}}
  <a href="#" class="close-now-playing btn" {{action 'closeVideo'}}>
    <i class="icon-remove"></i>
  </a>
</div>
