<div class="videos-region">

  <h2>
    {{title}}
  </h2>

  <div class="pagination">
    <ul class="video-paginator" class="video-paginator"></ul>
  </div>

  <div class="videos">
    {{#each videos}}
      {{partial 'video'}}
    {{/each}}
  </div>

</div>
