<div class="video-region">
  <div id="current-video" class="current-video">
    <iframe
      width="960" height="540"
      frameborder="0" allowfullscreen
      {{bindAttr src=src}}>
    </iframe>
  </div>
</div>
