.now-playing {
  align-items: center;
  background: #000;
  background: linear-gradient(to bottom, #222 0%, #000 100%);
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;

  & .cover {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .is-resizing & {
      display: block;
    }
  }

  & .controls {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 101;

    & button,
    & .button {
      border: none;

      & .icon svg {
        font-size: 1.2em;
      }
    }

    & button {
      background: var(--light-color);
      border-bottom: solid 1px color-mix(in srgb, var(--neutral-color), white 40%);
      border-radius: 0;
      color: color-mix(in srgb, var(--neutral-color), white 40%);
      border-color: color-mix(in srgb, var(--neutral-color), white 40%);

      &:hover,
      &:focus {
        background: color-mix(in srgb, var(--neutral-color), white 80%);
      }

      &:first-of-type {
        border-left: solid 1px color-mix(in srgb, var(--neutral-color), white 40%);
        border-radius: 0 0 0 3px;
      }

      &:last-child {
        border-right: solid 1px color-mix(in srgb, var(--neutral-color), white 40%);
        border-radius: 0 0 3px 0;
      }

      &.enabled {
        color: color-mix(in srgb, var(--action-color), white 20%);

        &:hover,
        &:focus {
          color: var(--action-color);
        }
      }
    }

    & .close {
      background: #000;
      border-radius: 0 0 3px 0;
      color: color-mix(in srgb, var(--light-color), black 20%);
      margin-right: 2em;

      &:hover,
      &:focus {
        background: #555;
        color: #fff;
      }
    }
  }

  & .description,
  & .playlists {
    background: #f8f8f8;
    border-bottom: solid 1px #d3d3d3;
    display: none;
    left: 0;
    padding: 2.2em 1em 0.8em;
    position: absolute;
    top: 100%;
    right: 0;
    white-space: pre-wrap;
    z-index: 100;

    & p {
      margin: 0;
    }
  }

  & .description {
    padding-top: 2.6em;
  }

  &.is-showing-description .description,
  &.is-showing-playlists .playlists {
    display: block;
  }
}
