.now-playing {
  align-items: center;
  background: #000;
  background: linear-gradient(to bottom, #222 0%, #000 100%);
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;

  .cover {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .is-resizing & {
      display: block;
    }
  }

  .controls {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 101;

    button,
    .button {
      border: none;
      height: 2.2em;
      width: 2.4em;

      i {
        font-size: 1.4em;
      }
    }

    button {
      background: light-color;
      border-bottom: solid 1px lighten(neutral-color, 40%);
      border-radius: 0;
      color: lighten(neutral-color, 40%);
      border-color: lighten(neutral-color, 40%);

      &:first-of-type {
        border-left: solid 1px lighten(neutral-color, 40%);
        border-radius: 0 0 0 3px;
      }

      &:last-child {
        border-right: solid 1px lighten(neutral-color, 40%);
        border-radius: 0 0 3px 0;
      }

      &.enabled {
        color: lighten(action-color, 20%);

        &:hover,
        &:focus {
          color: action-color;
        }
      }
    }

    .close {
      background: #000;
      border-radius: 0 0 3px 0;
      color: darken(light-color, 20%);
      margin-right: 2em;

      &:hover,
      &:focus {
        background: #555;
        color: #FFF;
      }
    }
  }

  .description,
  .playlists {
    background: #f8f8f8;
    border-bottom: solid 1px #d3d3d3;
    display: none;
    left: 0;
    padding: 1.6em 1em 0.8em;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
  }

  .playlists {
    padding-top: 2.2em;
  }

  &.is-showing-description .description,
  &.is-showing-playlists .playlists {
    display: block;
  }
}
