.now-playing {
  align-items: center;
  background: #000;
  background: linear-gradient(to bottom, #222 0%, #000 100%);
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;

  .cover {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .is-resizing & {
      display: block;
    }
  }


  button {
    background: #000;
    border: none;
    color: darken(light-color, 20%);
    height: 2.2em;
    width: 2.4em;

    &:hover,
    &:focus {
      background: #555;
      color: #FFF;
    }

    i {
      font-size: 1.4em;
    }
  }

  .close {
    border-radius: 0 0 0 3px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .controls {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
  }

  button {
    border-radius: 0;
  }

  button:first-child {
    border-radius: 3px 0 0 0;
  }

  .toggle-auto-play,
  .toggle-description {
    &.enabled {
      color: lighten(action-color, 20%);

      &:hover,
      &:focus {
        color: lighten(action-color, 40%);
      }
    }
  }

  .description {
    background: #f8f8f8;
    border-bottom: solid 1px #d3d3d3;
    display: none;
    left: 0;
    padding: 0.8em 1em;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
  }

  &.is-showing-description .description {
    display: block;
  }
}
