.add-custom-playlist {
  fieldset {
    margin-bottom: 0.8em;
    position: relative;
  }

  label {
    display: block;
    margin-bottom: 0.4em;
  }

  input {
    display: block;
    width: 100%;
  }

  .submit {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .pick-icon {
    background: rgba(255, 255, 255, 0.4);

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
