.add-channel {
  form {
    display: flex;

    input {
      border-radius: 3px 0 0 3px;
      max-width: 180px;

      &:hover {
        border-color: lighten(action-color, 10%);
      }

      &:focus {
        border-color: action-color;
      }
    }

    button {
      border-left: none;
      border-radius: 0 3px 3px 0;
      display: block;
      padding: 0.4em 1em;

      i {
        font-size: 1.1em;
      }
    }
  }

  ul {
    li {
      background: #FFF;
      display: flex;
      justify-content: space-between;
      margin: 0.6em 0;

      img {
        flex-shrink: 0;
        height: 3.6em;
        width: 3.6em;
      }

      h3 {
        flex-grow: 2;
        overflow: hidden;
        padding: 0.6em;
        text-overflow: ellipsis;
      }

      button {
        border: none;
        flex-shrink: 0;
        width: 2em;

        &:hover,
        &:focus {
          color: darken(action-color, 20%);
        }
      }
    }
  }
}
