.add-sub {
  > header {
    display: flex;
    margin: 1em 0;
    padding-right: 0.4em;

    .is-empty & {
      display: none;
    }

    a {
      @extends .button;
      display: block;
      flex-grow: 2;
      margin-left: 0.4em;
      text-align: center;
      text-decoration: none;
    }

    .icon {
      font-size: 0.8em;
    }
  }

  main {
    margin: 0.8em;

    header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.8em;

      .is-empty & {
        display: none;
      }

      a {
        color: dark-color;
      }
    }
  }
}
