.add-custom-playlist {
  fieldset {
    margin-bottom: 0.8em;
    position: relative;
  }

  label {
    display: block;
    margin-bottom: 0.4em;
  }

  input {
    display: block;
    width: 100%;
  }

  .controls {
    margin-top: 2em;
  }
}
