<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Videos</title>
  <link href="images/favicon.ico" rel="icon" type="image/ico" />
  {{stylesheets}}
</head>
<body>
  {{scripts}}
</body>
</html>
