@import "compass";
@import "compass/css3";
@import "compass/layout";
@import "lib/font-awesome";
@import "lib/bootstrap/bootstrap";

$light-grey: #d3d3d3;

body {
  background: #f8f8f8;
}

.sidebar {
  float: left;
  padding: 10px 20px;
  width: 260px;

  h3 {
      font-size: 1.2em;
  }
}

  .subscriptions-header {
    margin-bottom: 10px;
  }

  .subscription-search-region {
    margin: 10px 0;

    a {
      margin-bottom: 10px;
    }

    form {
      input {
        width: 170px;
      }
    }
  }

  .subscription {
    border-top: solid 1px $light-grey;
    font-size: .9em;
    padding: 10px 0;

    &:first-child {
      border-top: none;
    }

    h4,
    p {
      margin-left: 60px;
    }

    h4 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 0;
    }

    a {
      margin-left: 10px;
    }

    .delete-subscription {
      display: none;
    }

    .editing & .delete-subscription {
      display: block;
    }

    .editing & .view-subscription {
      display: none;
    }

  }

.content {
  float: left;
  padding: 20px 0 10px;
  width: 600px;
}

  .video {
    border-top: solid 1px $light-grey;
    padding: 10px;

    &:first-child {
      border-top: none;
    }

    h4,
    p {
      margin-left: 165px;
    }

    h4 {
      font-size: 1.1em;
      margin-top: 0;
    }

    p {
      span {
        color: #a4a4a4;
      }
    }
  }

    .play-video {
      display: block;
      position: relative;

      &,
      &:hover,
      &:focus {
        color: #FFF;
        text-decoration: none;
      }

      img {
        display: block;
      }

      i {
        display: block;
        font-size: 4em;
        @include opacity(70);
        position: absolute;
        top: 0;
        text-align: center;
        @include transition(all .25s ease-in-out);
        width: 150px;
        height: 112px;
        line-height: 112px;
      }

      &:hover i,
      &:focus i {
        @include opacity(100);
      }
    }